.book {
    display: flex;
    flex-wrap: wrap;
}

.total {
    display: flex;
    justify-content: center;
    padding: 20px;
    font-weight: 500;
}

.loadMore {
    margin-bottom: 30px;
    font-size: small;
}

.imgLoader {
    width: 20%;
    margin: 10px auto 20px;
    display: block;
}