.bookPage {
    display: flex;

    img {
        height: 400px;
        padding: 40px 150px;
    }

}



.description {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding-top: 40px;
}

.bookName {
    font-size: 25px;
    font-weight: 600;
}

.bookCaregory {
    font-weight: 300;
}

.bookAuthor {
    color: grey;
}