.bookPage {
    display: flex;

    img {
        width: auto;
        padding: 40px;
    }

}

.description {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-top: 40px;
    font-size: 12px;
    width: 70%;
}

.bookName {
    font-size: 20px;
    font-weight: 600;
}

.bookCaregory {
    font-weight: 300;
}

.bookAuthor {
    color: grey;
}